<h1>Plants Index</h1>

<% @plants.each do |plant| %>
    <h3><%= link_to plant.name, plant_path(plant) %></h3>
    <%= link_to plant.user.first_name, user_path(plant.user) %>
    <%= link_to "Add Garden", edit_plant_path(plant) %>
    <%= link_to "delete",  plant, method: :delete %>
<% end %>