<h1>Garden Show Page</h1>
<%= link_to "Add Plant", edit_garden_path %>
Name: <h2><%= @garden.name %></h2>
Location: <h3><%= @garden.location %></h3>

Plants:
<% @garden.plants.each do |plant| %>
    <%= plant.name %>
<% end %>
